h1, h2 {
    text-align: center;
}

p {
    margin-bottom: 0px !important;
}

.navbar {
    padding-right: 1%;
}

.grid {
    background-color: white;
    padding: 12px;
    border-radius: 10px;
}

.column {
    float: left;
    width: 33.33% !important;
}

.middle {

}


.node-cell {
    border-radius: 10px;
    background-color: #d7d7d7;
    padding: 10px;
}

#node-info {
    margin-top: 10px;
    margin-left: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

li {
    padding-left: 10px;
}

.body {
    background-color: #b6b6b6;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

#jgc-container {
    background: #eaeaea;
    width: 96%;
    padding: 10px;
    border-radius: 25px;
}

.page-section {
    padding-bottom: 30px;
    padding-left: 15px;
}

.settings-element {
    padding-bottom: 2px;
}
