h1, h2 {
    text-align: center;
}

p {
    margin-bottom: 0px !important;
}

.navbar {
    padding-right: 1%;
}

.cell-grid {
    background-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.cell-container {
    float: left;
    width: 33.33% !important;
    padding: 0px !important;
}

.node-cell {
    border-radius: 10px;
    background-color: #d7d7d7;
    padding: 10px;
    margin: 5px !important;
}

.node-cell:hover {
    color: #ffffff;
    background-color: #0D6EFD;
    box-shadow: 2px 2px 15px 3px rgba(23, 119, 255, 0.4);
}

#node-info {
    margin-top: 10px;
    margin-left: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

li {
    padding-left: 10px;
}

.body {
    background-color: #b6b6b6;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

#jgc-container {
    background: #ececec;
    width: 96%;
    padding: 10px;
    border-radius: 25px;
}

.page-section {
    padding-bottom: 30px;
    padding-left: 15px;
}

.settings-element {
    padding-bottom: 2px;
}
